.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.deleteBtn {
  display: inline;
}

.deleteForm {
  display: inline;
}

/* multiple image uploader */


.preview-images-zone {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 180px;
  /* display: flex; */
  padding: 5px 5px 0px 5px;
  position: relative;
  overflow:auto;
}
.preview-images-zone > .preview-image:first-child {
  height: 185px;
  width: 185px;
  position: relative;
  margin-right: 5px;
}
.preview-images-zone > .preview-image {
  height: 90px;
  width: 90px;
  position: relative;
  margin-right: 5px;
  float: left;
  margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
  width: 100%;
  height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
  width: 100%;
  height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.preview-image:hover > .image-zone {
  cursor: move;
  opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
  display: block;
}
.ui-sortable-helper {
  width: 90px !important;
  height: 90px !important;
}

.container {
  padding-top: 10px;
}

/* multiple image uploader */


/* Single image uploader */
.imagePreview{
  height: 185px;
  width: 185px;
  background:#858080;
  border-style: solid;
}
.imagePreview:hover > .image-zone {
  cursor: move;
  opacity: .5;
}
input[type=file]
{
  padding:5px;
  background:#858080;
  width:185px;
}


/* Single image uploader */

#user-panel
{
  background:#222d32;
}

.alert-danger{
  color:#7f231c !important;
  background-color:#fdd9d7 !important;
  border-color: #fdd9d7 !important;
}

.statBox {
	/* background-color: #eee; */
	/* padding: 10px; */
	/* border-radius: 6px; */
	/* font-weight: 300; */
}

.statBox h4 {
	font-weight: 300;
}

.statBox>span {
	display: block;
}

.statBox>span>span>i {
	color: #337AB7;
	display: inline-block;
	width: 5%;
	text-align: center;
}

.statBox>span>span {
	display: inline-block;
	width: 25%;
}

.statBox {
	/* line-height: 1.5; */
	/* font-weight: 400; */
}

@media screen and (min-width: 992px) {
	.statBox>span {
		margin-left: 20px;
		text-align: left;
	}
}

@media screen and (max-width: 991px) {
	.statBox {
		/* margin-left: 20px; */
		/* text-align: left; */
	}
}

[class|="material-main-select"] {
	height: 150px;
	display: block;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  	background-position: center;
  	margin-bottom: 25px;
  	
}

[class|="material-main-select"]:hover {
	text-decoration: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

[class|="material-main-select"] ol {
	text-align: center;
	display: block;
	list-style: none;
	padding: 35px 0 0 0;
}

[class|="material-main-select"] ol li:nth-child(1) {
	font-size: 22px;
	font-weight: 100;
}

[class|="material-main-select"] ol li:nth-child(2) {
	font-size: 18px;
}

[class|="material-sub-select"] {
	height: 100px;
	display: block;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  	background-position: center;
  	margin-bottom: 15px;
  	
}

[class|="material-sub-select"]:hover {
	text-decoration: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

[class|="material-sub-select"] ol {
	text-align: center;
	display: block;
	list-style: none;
	padding: 25px 0 0 0;
}

[class|="material-sub-select"] ol li:nth-child(1) {
	font-size: 18px;
	font-weight: 100;
}

[class|="material-sub-select"] ol li:nth-child(2) {
	font-size: 16px;
}

.material-sub-select-blue, .material-main-select-blue {
	background-color: #03a9f4;
	color: #ffffff;
}

.material-sub-select-blue:hover, .material-main-select-blue:hover {
	background-color: #1b9cd6;
	color: #ffffff;
}

.material-sub-select-green, .material-main-select-green {
	background-color: #03b1a1;
	color: #ffffff;
}

.material-sub-select-green:hover, .material-main-select-green:hover {
	background-color: #009688;
	color: #ffffff;
}

.material-sub-select-purple, .material-main-select-purple {
	background-color: #bb59cc;
	color: #ffffff;
}

.material-sub-select-purple:hover, .material-main-select-purple:hover {
	background-color: #9c27b0;
	color: #ffffff;
}

.material-sub-select-yellow, .material-main-select-yellow {
	background-color: #ad9f04;
	color: #ffffff;
}

.material-sub-select-yellow:hover, .material-main-select-yellow:hover {
	background-color: #b8ab0c;
	color: #ffffff;
}

.material-sub-select-brown, .material-main-select-brown {
	background-color: #b17965;
	color: #ffffff;
}

.material-sub-select-brown:hover, .material-main-select-brown:hover {
	background-color: #795548;
	color: #ffffff;
}

.material-sub-select-red, .material-main-select-red {
	background-color: #f44336;
	color: #ffffff;
}

.material-sub-select-red:hover, .material-main-select-red:hover {
	background-color: #ce362b;
	color: #ffffff;
}

.material-sub-select-orange, .material-main-select-orange {
	background-color: #ff9800;
	color: #ffffff;
}

.material-sub-select-orange:hover, .material-main-select-orange:hover {
	background-color: #de8809;
	color: #ffffff;
}

.material-sub-select-lightgreen, .material-main-select-lightgreen {
	background-color: #8bc34a;
	color: #ffffff;
}

.material-sub-select-lightgreen:hover, .material-main-select-lightgreen:hover {
	background-color: #679037;
	color: #ffffff;
}

.material-sub-select-bluegrey, .material-main-select-bluegrey {
	background-color: #78909c;
	color: #ffffff;
}

.material-sub-select-bluegrey:hover, .material-main-select-bluegrey:hover {
	background-color: #607d8b;
	color: #ffffff;
}

.material-sub-select-grey, .material-main-select-grey {
	background-color: #9e9e9e;
	color: #ffffff;
}

.material-sub-select-grey:hover, .material-main-select-grey:hover {
	background-color: #757575;
	color: #ffffff;
}

.material-sub-select-lightpurple, .material-main-select-lightpurple {
	background-color: #b02799;
	color: #ffffff;
}

.material-sub-select-lightpurple:hover, .material-main-select-lightpurple:hover {
	background-color: #7d1b6d;
	color: #ffffff;
}

.material-sub-select-navyblue, .material-main-select-navyblue {
	background-color: #197084;
	color: #ffffff;
}

.material-sub-select-navyblue:hover, .material-main-select-navyblue:hover {
	background-color: #135463;
	color: #ffffff;
}

[class|="material-button-large"] {
	height: 50px;
	display: block;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  	background-position: center;
  	margin-bottom: 25px;
  	position: relative;
}

[class|="material-button-large"]:hover {
	text-decoration: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

[class|="material-button-large"] ol {
	list-style: none;
	padding: 5px;
}

[class|="material-button-large"] ol li:nth-child(1) {
	font-size: 18px;
	font-weight: 100;
}

[class|="material-button-large"] ol li:nth-child(2) {
	font-size: 16px;
	position: absolute;
	right: 7px;
    top: 6px;
	
}

.material-button-large-lightgrey {
	background-color: #cbcdcf;
	color: #135463;
}

.material-button-large-lightgrey:hover {
	background-color: #a3a3a3;
	color: #135463;
}

input.currency {
    text-align: left;
    padding-right: 15px;
}

.bigColumn{
		width:15%;
}

.centerBlock{
	text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cTitle{
	color: #ffffff;
	font-size:16px;
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  .cTitle{
		max-width: 200px;
	}
}

.login-bg {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}


.invalid-feedback {
	display: inherit;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 100%;
	color: #e74a3b;
  }

